#snackbar {
    word-wrap: break-word;
    visibility: hidden;
    width: 50%;
    margin: 0 auto;
    background-color: #51A351;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 25%;
    bottom: 30px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #snackbarError {
    word-wrap: break-word;
    visibility: hidden;
    width: 50%;
    margin: 0 auto;
    background-color: #BD362F;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 25%;
    bottom: 30px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  #snackbar.show, #snackbarError.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


   /* The Close Button */
   .closeSnack {
    position: absolute;
    margin-left: 10px;
    top: -4px;
    right: 6px;
    color: #fff;
    font-size: 24px;
  }
  
  .closeSnack:hover,
  .closeSnack:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }